.discount-badg{
    background-color: red;
    color: #fff;
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 0.9rem;

    i{
        margin-right: 5px;
        vertical-align: middle;
        font-size: 12px;
    }
}