@model PrescriptionSearchFilter
@{
    Layout = null;
}

<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="PrescriptionId" type="number" class="form-control ltr-elm" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="MobileNumber"  class="form-control ltr-elm" />
    </div>
</div>
