#comp-top-header {
  background-color: #00346e;
}

#comp-top-header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

#comp-top-header .auth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-top-header .auth-wrapper > * {
  margin-right: 15px;
}

#comp-top-header .auth-wrapper .dropdown #ddl-options {
  background-color: transparent;
  border: solid 1px #fff;
  max-width: 115px;
  white-space: nowrap;
  overflow: hidden;
}

#comp-top-header .auth-wrapper .dropdown .log-out {
  color: #666;
  background-color: transparent;
  padding: 0;
}

#comp-top-header .auth-wrapper .dropdown a.dropdown-item {
  font-size: 0.9rem;
  padding: .5rem 1.5rem;
}

#comp-top-header .auth-wrapper .dropdown a.dropdown-item:active {
  background-color: #fff !important;
}

#comp-top-header .auth-wrapper .dropdown a.dropdown-item i {
  vertical-align: middle;
  font-size: 1.4rem;
}

#comp-top-header .auth-wrapper .auth-icon,
#comp-top-header .auth-wrapper .zmdi-shopping-cart {
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

#comp-top-header .auth-wrapper .auth-icon:hover,
#comp-top-header .auth-wrapper .zmdi-shopping-cart:hover {
  color: red;
}

#comp-top-header .ripple-loader {
  position: relative;
}

#comp-top-header .ripple-loader:before {
  content: "";
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  margin: 38% 0% 0% 14%;
  color: #fff;
}

#comp-top-header .ripple-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #0ec198;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-animation: ripple 1.5s ease-out infinite;
  animation: ripple 1.5s ease-out infinite;
}

@-webkit-keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

#comp-search-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

#comp-search-bar .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-links-with-info .link-img {
  text-decoration: none;
}

#comp-links-with-info .link-img img {
  width: 110px;
  height: 110px;
}

#comp-links-with-info .link-img .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

#comp-links-with-info .link-img .info .hx {
  color: #6ec1e4;
  font-weight: 600;
}

#comp-links-with-info .link-img .info p {
  color: #7a7a7a;
}

#comp-links-with-info .link-no-img {
  display: block;
  padding: 10px 10px 10px 10px;
  background-color: #0099d7;
  color: #fff;
  width: 100%;
  margin-bottom: 15px;
  text-decoration: none;
}

#comp-links-with-info .link-no-img p {
  font-size: 0.8rem;
  line-height: 25px;
}

#comp-useful-links {
  background-color: #fff;
}

#comp-useful-links .hx {
  text-align: center;
  margin-bottom: 15px;
}

#comp-useful-links p {
  font-size: 0.9rem;
  text-align: justify;
  color: #7a7a7a;
}

#comp-useful-links p .info {
  margin-top: 10px;
  display: block;
}

#comp-useful-links .more {
  display: inline-block;
  margin-top: 15px;
  background-color: #0099d7;
  font-weight: 500;
  color: #fff;
  padding: 8px 24px;
}

#comp-useful-links .more:hover {
  background-color: #ec006e;
}

footer #copyright {
  text-align: center;
  background: #222;
  color: #949494;
  padding: 20px 0;
}

#comp-menu {
  background-color: #00346e;
}

#comp-menu ul {
  margin-bottom: 0;
}

#comp-menu .main-nav .menu-icon {
  padding-left: 7.5px;
  display: none;
  padding: 15px 0;
  margin-bottom: 0;
}

#comp-menu .main-nav .menu-icon i {
  font-size: 20px;
  vertical-align: middle;
  color: #fff;
}

#comp-menu .main-nav ul.menu-items {
  padding: 15px 0;
}

#comp-menu .main-nav ul.menu-items li {
  display: inline-block;
}

#comp-menu .main-nav ul.menu-items li a {
  font-size: 1.2rem;
  white-space: nowrap;
  padding: 5px 7.5px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#comp-menu .main-nav ul.menu-items li a:hover {
  color: #ffbf3f !important;
}

#comp-menu .main-nav ul.menu-items li:hover .sub-menu {
  display: block;
}

#comp-menu .main-nav ul.menu-items li.current a {
  color: #ffbf3f;
}

#comp-menu .main-nav ul.menu-items .close-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

#comp-menu .main-nav ul.menu-items .close-menu i {
  font-size: 20px;
  vertical-align: middle;
  color: #fff;
}

#comp-menu .main-nav ul.menu-items .logo img {
  width: 32px;
}

@media (max-width: 576px) {
  #comp-menu .main-nav ul.menu-items .logo {
    display: none;
  }
}

#comp-menu .main-nav .sub-menu {
  display: none;
  background-color: #34495e;
  min-width: 100px;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
  position: absolute;
  z-index: 999;
}

#comp-menu .main-nav .sub-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  #comp-menu .main-nav .menu-icon {
    display: inline-block;
  }
  #comp-menu .main-nav ul.menu-items {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 0;
    overflow: hidden;
    padding-top: 30px;
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #00346e;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    right: 0;
  }
  #comp-menu .main-nav ul.menu-items li {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: none;
  }
  #comp-menu .main-nav ul.menu-items .close-menu {
    display: block;
  }
  #comp-menu .main-nav [name="toggle"]:checked + ul {
    width: 70%;
  }
  #comp-menu .main-nav [name="toggle"]:checked + ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#comp-menu #comp-menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

#comp-menu #comp-menu-categories button {
  background-color: #ec006e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#comp-menu #comp-menu-categories button span {
  font-size: 1.2rem;
}

#comp-menu #comp-menu-categories button i {
  font-size: 25px;
  margin-right: 15px;
}

#comp-menu #comp-menu-categories ul {
  list-style: none;
  padding: 0;
  opacity: 1;
  visibility: visible;
  -webkit-animation: 0.5s 0s OsfadeInDown both;
  animation: 0.5s 0s OsfadeInDown both;
  z-index: 10;
  display: block;
  position: absolute;
  z-index: 999;
  top: 80px;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -ms-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

#comp-menu #comp-menu-categories ul:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  right: 20px;
  background-color: #fff;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#comp-menu #comp-menu-categories ul li {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  width: 100%;
}

#comp-menu #comp-menu-categories ul li a {
  color: #666;
}

#comp-menu #comp-menu-categories ul li:last-child {
  border-bottom: none;
}

@media (max-width: 576px) {
  #comp-menu #comp-menu-categories button {
    width: 140px;
  }
  #comp-menu #comp-menu-categories button i {
    font-size: 20px;
  }
}

html[dir="ltr"] .main-nav ul {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

html[dir="ltr"] .main-nav ul .menu-icon {
  padding-right: 7.5px;
  padding-right: 0;
}

html[dir="ltr"] .main-nav ul .close-menu {
  right: auto;
  right: 10px;
}

@media (max-width: 576px) {
  html[dir="ltr"] .main-nav ul {
    -webkit-box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75);
  }
}
/*# sourceMappingURL=index.css.map */