
<div class="row border-bottom header-navbar-row">
    <div class="col-12">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-white varia rtl-f-r d-md-none" href="#"><i class="text-muted zmdi zmdi-menu"></i></a>
                <div class="minimalize-styl-2">
                    <span class="text-white welcome-message">@ViewBag.Title</span>
                </div>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="text-white" asp-controller="Auth" asp-action="SignOut">
                        @Strings.SignOut &nbsp;&nbsp; <span><i class="zmdi zmdi-power default-i"></i></span>
                    </a>
                </li>
            </ul>

        </nav>
    </div>

</div>

@*<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="#">@ViewBag.Title</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>*@