@import "./../../../assets/css/constant.scss";

#page-order-history {
    #th {
        padding: 10px;
        margin-bottom: 10px;
        background-color: #0099d7;
        color: #fff;
    }
    .item {
        margin: 5px 0;
        padding: 10px;
        cursor: pointer;
        
        &.collapsed {
            border: solid 1px #ccc;
            border-radius: 5px;
        }
        [class^="col"] {
            align-items: center;
        }
        .details {
            .img-item {
                width: 40px;
            }
        }
        .last-col {
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                background-color: transparent;
                color: #666;
            }
        }
    }
}
