.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
}
.a-download {
    padding: 10px;
    overflow: hidden;
    display: inline-block;

    .img-item {
        width: 100%;
    }
}
#btn-add-item {
    height: 30px;
    width: 30px;
    border: none;
    margin-top: 22px;
}
.delete-item{
    cursor:pointer;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70% !important;
        margin: 1.75rem auto;
    }
}
