@import "./constant.scss";
$marginBottom: 15px;

html {
  min-height: 100%;
  font-size: 12px;
}
body {
  min-height: 100vh;
  background-color: #f3f4f8;
}
#root {
  min-height: 100vh;
}
.MuiFormLabel-root {
  font-family: "iransans" !important;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin-bottom: 0;
  padding: 0;
}
p {
  margin: 0;
}
.m-b {
  margin-bottom: 15px !important;
}
button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
input[type="search"]:focus,
input[type="text"]:focus {
  outline: none;
}
a {
  color: #666;
  text-decoration: none;
}
ul,
ol {
  padding: 0;
}
button {
  color: #fff;
  background-color: $btnBgColor;
  padding: 7px 10px;
  border-radius: 3px;
  &:hover {
    background-color: $btnHoverColor;
  }
}
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}
.block-align-center {
  margin-left: auto;
  margin-right: auto;
}
.mb-15 {
  margin-bottom: 15px;
}
.ltr-input {
  input {
    direction: ltr;
    text-align: left;
  }
}
/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.ph-c::-webkit-input-placeholder {
  text-align: center;
}

.ph-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.ph-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.ph-c:-ms-input-placeholder {
  text-align: center;
}

.ph-r::-webkit-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r:-ms-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}
.toast:not(.show) {
  display: none;
}
.form-group {
  margin-bottom: $marginBottom;
  text-align: center;
}
.btn-group {
  margin-bottom: $marginBottom;
  width: 100%;
}
.MuiFormControl-root {
  width: 100%;
}
.MuiFormHelperText-contained {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.btn-next {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #23af66;
  text-align: center;
}
.with-header {
  padding-top: 55px;
}

.comp-heading {
  font-size: 18px;
  padding: 15px 0;
}
.slick-list {
  direction: ltr;
}
.slick-slide:focus {
  outline: none;
}
.padding-r{
  padding-right: $padding;
}
.padding-l{
  padding-left: $padding;
}
@import "./rtl.scss";
@import "./../../shared/layout/css/index.scss";
@import "./../../shared/searchDrug/css/index.scss";
@import "./../../shared/threeDotLoader/css/index.scss";
@import "./../../routes/home/css/index.scss";
