html {
  min-height: 100%;
  font-size: 12px;
}

body {
  min-height: 100vh;
  background-color: #f3f4f8;
}

* {
  outline: none !important;
}

#root {
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

p {
  margin: 0;
}

.m-b {
  margin-bottom: 15px !important;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

input[type="search"]:focus,
input[type="text"]:focus {
  outline: none;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul,
ol {
  padding: 0;
}

button {
  color: #fff;
  background-color: #00346e;
  padding: 7px 10px;
  border-radius: 3px;
}

button:hover {
  background-color: #ec006e;
  color: #fff;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}

.block-align-center {
  margin-left: auto;
  margin-right: auto;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-0 {
  margin-bottom: 0;
}

.icon {
  vertical-align: middle;
  font-size: 20px !important;
}

.ltr-elm {
  direction: ltr;
  text-align: left;
}

.ltr-input input {
  direction: ltr;
  text-align: left;
}

.va-middle {
  vertical-align: middle;
}

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.ph-c::-webkit-input-placeholder {
  text-align: center;
}

.ph-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.ph-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.ph-c:-ms-input-placeholder {
  text-align: center;
}

.ph-r::-webkit-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r:-ms-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.toast:not(.show) {
  display: none;
}

.form-group {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.btn-group {
  margin-bottom: 15px;
  width: 100%;
}

.btn-link {
  border: none;
  background-color: transparent;
  color: #00346e;
}

.btn-link:hover {
  border: none;
  background-color: transparent;
  color: #00346e;
}

.comp-heading {
  font-size: 1.3rem;
  padding: 15px 0;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comp-heading.bordered:after {
  content: "";
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #00346e;
  height: 3px;
  margin-right: 10px;
}

.color-green {
  color: green;
}

.slick-list {
  direction: ltr;
}

.padding {
  padding: 15px;
}

.padding-r {
  padding-right: 15px;
}

.padding-l {
  padding-left: 15px;
}

[class^="col-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-comp {
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-next {
  min-width: 130px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-discount {
  padding: 0 5px;
  position: relative;
}

.price-discount::after {
  content: "";
  background: red;
  height: 2px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 5px;
  right: 5px;
}

.ws-pre {
  white-space: pre-wrap;
}

/*==================================
-- Material UI
====================================*/
.MuiFormLabel-root,
.MuiMenuItem-root {
  font-family: "iransans" !important;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFormControl-root .MuiOutlinedInput-multiline {
  padding: 0;
}

.MuiFormHelperText-contained {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.MuiInputBase-root {
  margin-bottom: 18px;
}

.MuiInputBase-root.Mui-error {
  margin-bottom: 0;
}

.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error {
  height: 15px;
}

.MuiTextField-root .MuiOutlinedInput-input {
  padding: 14px;
}

.MuiTextField-root .MuiInputLabel-outlined {
  -webkit-transform: translate(-14px, 15px) scale(1);
          transform: translate(-14px, 15px) scale(1);
}

@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "iransans";
  direction: rtl;
  text-align: right;
}

.MuiFormHelperText-root, .MuiInputBase-input, .MuiTypography-body2, .MuiTypography-body1 {
  font-family: "iransans" !important;
}

body[dir="rtl"] .modal-title {
  font-size: 1rem;
}

body[dir="rtl"] .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.dropdown-toggle::after {
  margin-right: 0.255em;
  margin-left: unset;
  vertical-align: middle;
}

.dropdown-menu {
  text-align: unset;
}

.toast .toast-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .toast-header .close {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

#comp-top-header {
  background-color: #00346e;
}

#comp-top-header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

#comp-top-header .auth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-top-header .auth-wrapper > * {
  margin-right: 15px;
}

#comp-top-header .auth-wrapper i {
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

#comp-top-header .auth-wrapper i:hover {
  color: red;
}

#comp-top-header .auth-wrapper .log-out {
  padding: 0;
}

#comp-top-header .auth-wrapper .log-out:hover {
  background: transparent;
}

#comp-top-header .log-out {
  background-color: none;
}

#comp-top-header .ripple-loader {
  position: relative;
}

#comp-top-header .ripple-loader:before {
  content: "";
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  margin: 38% 0% 0% 14%;
  color: #fff;
}

#comp-top-header .ripple-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #0ec198;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-animation: ripple 1.5s ease-out infinite;
  animation: ripple 1.5s ease-out infinite;
}

@-webkit-keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

#comp-search-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

#comp-search-bar .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-links-with-info .link-img {
  text-decoration: none;
}

#comp-links-with-info .link-img img {
  width: 110px;
  height: 110px;
}

#comp-links-with-info .link-img .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

#comp-links-with-info .link-img .info .hx {
  color: #6ec1e4;
  font-weight: 600;
}

#comp-links-with-info .link-img .info p {
  color: #7a7a7a;
}

#comp-links-with-info .link-no-img {
  display: block;
  padding: 10px 10px 10px 10px;
  background-color: #0099d7;
  color: #fff;
  width: 100%;
  margin-bottom: 15px;
  text-decoration: none;
}

#comp-links-with-info .link-no-img p {
  font-size: 0.8rem;
  line-height: 25px;
}

#comp-useful-links {
  background-color: #fff;
}

#comp-useful-links .hx {
  text-align: center;
  margin-bottom: 15px;
}

#comp-useful-links p {
  font-size: 0.9rem;
  text-align: justify;
  color: #7a7a7a;
}

#comp-useful-links p .info {
  margin-top: 10px;
  display: block;
}

#comp-useful-links .more {
  display: inline-block;
  margin-top: 15px;
  background-color: #0099d7;
  font-weight: 500;
  color: #fff;
  padding: 8px 24px;
}

#comp-useful-links .more:hover {
  background-color: #ec006e;
}

footer #copyright {
  text-align: center;
  background: #222;
  color: #949494;
  padding: 20px 0;
}

#comp-menu {
  background-color: #00346e;
}

#comp-menu ul {
  margin-bottom: 0;
}

#comp-menu .main-nav .menu-icon {
  padding-left: 7.5px;
  display: none;
  padding: 15px 0;
  margin-bottom: 0;
}

#comp-menu .main-nav .menu-icon i {
  font-size: 20px;
  vertical-align: middle;
  color: #fff;
}

#comp-menu .main-nav ul.menu-items {
  padding: 15px 0;
}

#comp-menu .main-nav ul.menu-items li {
  display: inline-block;
}

#comp-menu .main-nav ul.menu-items li a {
  font-size: 1.2rem;
  white-space: nowrap;
  padding: 5px 7.5px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#comp-menu .main-nav ul.menu-items li a:hover {
  color: #ffbf3f !important;
}

#comp-menu .main-nav ul.menu-items li:hover .sub-menu {
  display: block;
}

#comp-menu .main-nav ul.menu-items li.current a {
  color: #ffbf3f;
}

#comp-menu .main-nav ul.menu-items .close-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

#comp-menu .main-nav ul.menu-items .close-menu i {
  font-size: 20px;
  vertical-align: middle;
  color: #fff;
}

#comp-menu .main-nav ul.menu-items .logo img {
  width: 32px;
}

@media (max-width: 576px) {
  #comp-menu .main-nav ul.menu-items .logo {
    display: none;
  }
}

#comp-menu .main-nav .sub-menu {
  display: none;
  background-color: #34495e;
  min-width: 100px;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
  position: absolute;
  z-index: 999;
}

#comp-menu .main-nav .sub-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  #comp-menu .main-nav .menu-icon {
    display: inline-block;
  }
  #comp-menu .main-nav ul.menu-items {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 0;
    overflow: hidden;
    padding-top: 30px;
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #00346e;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    right: 0;
  }
  #comp-menu .main-nav ul.menu-items li {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: none;
  }
  #comp-menu .main-nav ul.menu-items .close-menu {
    display: block;
  }
  #comp-menu .main-nav [name="toggle"]:checked + ul {
    width: 70%;
  }
  #comp-menu .main-nav [name="toggle"]:checked + ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#comp-menu #comp-menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

#comp-menu #comp-menu-categories button {
  background-color: #ec006e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#comp-menu #comp-menu-categories button span {
  font-size: 1.2rem;
}

#comp-menu #comp-menu-categories button i {
  font-size: 25px;
  margin-right: 15px;
}

#comp-menu #comp-menu-categories ul {
  list-style: none;
  padding: 0;
  opacity: 1;
  visibility: visible;
  -webkit-animation: 0.5s 0s OsfadeInDown both;
  animation: 0.5s 0s OsfadeInDown both;
  z-index: 10;
  display: block;
  position: absolute;
  z-index: 999;
  top: 80px;
  right: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -ms-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 65px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

#comp-menu #comp-menu-categories ul:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: -8px;
  right: 20px;
  background-color: #fff;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#comp-menu #comp-menu-categories ul li {
  padding: 10px;
  border-bottom: solid 1px #ccc;
  width: 100%;
}

#comp-menu #comp-menu-categories ul li a {
  color: #666;
}

#comp-menu #comp-menu-categories ul li:last-child {
  border-bottom: none;
}

@media (max-width: 576px) {
  #comp-menu #comp-menu-categories button {
    width: 140px;
  }
  #comp-menu #comp-menu-categories button i {
    font-size: 20px;
  }
}

html[dir="ltr"] .main-nav ul {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

html[dir="ltr"] .main-nav ul .menu-icon {
  padding-right: 7.5px;
  padding-right: 0;
}

html[dir="ltr"] .main-nav ul .close-menu {
  right: auto;
  right: 10px;
}

@media (max-width: 576px) {
  html[dir="ltr"] .main-nav ul {
    -webkit-box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75);
  }
}

#comp-search-drug {
  width: 100%;
  background-color: #fff;
  position: relative;
}

#comp-search-drug .input-group i {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comp-search-drug .input-group input {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  padding: 10px 40px 10px 30px;
}

#comp-search-drug .comp-three-dot-loader {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comp-search-drug .search-result {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 99;
  border: 1px solid #ddd;
  background: #fff none repeat scroll 0 0;
}

#comp-search-drug .search-result ul {
  list-style: none;
}

#comp-search-drug .search-result ul .drug-item {
  padding: 10px;
}

#comp-search-drug .search-result ul .drug-item .drug-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-search-drug .search-result ul .drug-item .drug-info img {
  max-width: 100%;
  max-height: 50px;
}

#comp-search-drug .search-result ul .drug-item .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-search-drug .search-result .active-item-wrapper {
  border-right: solid 1px #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

#comp-search-drug .search-result .active-item-wrapper img {
  width: 100%;
}

#comp-search-drug .search-result .active-item-wrapper .count {
  color: green;
}

#comp-search-drug .search-result .active-item-wrapper .btn-add-to-basket {
  padding-top: 10px;
  text-align: center;
}

@-webkit-keyframes three-dot-loader-anime {
  100%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes three-dot-loader-anime {
  100%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.dot {
  background-color: black;
}

.comp-three-dot-loader .dot {
  width: 3px !important;
  height: 3px !important;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block !important;
  border-radius: 200px !important;
  -webkit-animation-name: three-dot-loader-anime !important;
  animation-name: three-dot-loader-anime !important;
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  -webkit-animation-timing-function: ease-in-out !important;
  animation-timing-function: ease-in-out !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}

.comp-three-dot-loader .dot:nth-child(1) {
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.comp-three-dot-loader .dot:nth-child(2) {
  -webkit-animation-delay: -0.25s !important;
  animation-delay: -0.25s !important;
}

.comp-three-dot-loader .dot:nth-child(3) {
  -webkit-animation-delay: -0.5s !important;
  animation-delay: -0.5s !important;
}

#home-page #first-row {
  margin-top: 50px;
}

#home-page #first-row .r-bg {
  height: 100%;
  width: 100%;
  background-image: url("/home-right-bg.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 350px;
}

#home-page #first-row #search-box {
  padding: 100px 0;
  height: 100%;
  width: 100%;
  background-image: url("/home-left-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

#home-page #first-row #search-box .hx1,
#home-page #first-row #search-box .hx2 {
  text-align: center;
  padding: 15px;
  color: #fff;
}

#home-page #first-row #search-box .hx1 {
  font-size: 2rem;
}

#home-page #first-row #search-box .hx2 {
  font-size: 1.2rem;
  line-height: 25px;
}

#home-page #first-row #search-box .search-wrapper {
  padding: 0 30px;
}

#home-page .comp-slide-show {
  overflow: hidden;
}

#home-page #comp-third-row #comp-banner-slide-show .slick-next {
  left: 15px !important;
  z-index: 999;
}

#home-page #comp-third-row #comp-banner-slide-show .slick-prev {
  right: 15px !important;
  z-index: 999;
}

#home-page #comp-drugstores img {
  width: 100px;
}

#home-page #comp-drugstores .slick-dots {
  bottom: -20px;
}

#home-page #comp-drugstores .slick-dots li {
  width: 6px;
}

#home-page #comp-drugstores .slick-dots li button:before {
  content: "";
  background-color: #0099d7;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.retry-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1999;
  background: #fff;
}

.retry-comp .btn-retry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 1px #ccc;
  border-radius: 50%;
}

.retry-comp .btn-retry i {
  font-size: 20px;
}

.comp-drug-item {
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

.comp-drug-item .main-img {
  margin-top: 12px;
  max-width: 100%;
}

.comp-drug-item figcaption {
  padding: 0 10px;
}

.comp-drug-item figcaption .name,
.comp-drug-item figcaption .btn-add {
  margin-top: 12px;
  text-align: center;
}

.comp-drug-item:hover {
  -ms-box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.comp-loading-drug {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.comp-loading-drug .main-img {
  margin-top: 12px;
  height: 120px;
  width: 100%;
}

.comp-loading-drug figcaption {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
}

.comp-loading-drug figcaption .name,
.comp-loading-drug figcaption .price {
  width: 80%;
  margin-top: 12px;
}

.comp-loading-drug figcaption .btn-add {
  margin-top: 12px;
}

.comp-loading-drug figcaption .btn-add {
  width: 120px;
  padding: 10px 30px;
}

#page-products {
  padding-top: 30px;
}

#page-products #comp-search-name .form-group {
  padding: 10px 0;
  position: relative;
}

#page-products #comp-search-name .form-group input {
  width: 100%;
  border: solid 1px #ccc;
  padding: 10px;
}

#page-products #comp-search-name .form-group button {
  position: absolute;
  left: 5px;
  background-color: transparent;
  border: none;
  color: #666;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#page-products #comp-price-range button {
  border: none;
  color: #fff;
}

#page-products #comp-price-range .price-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-products .MuiSelect-select:focus {
  background-color: #fff;
}

#page-products .MuiOutlinedInput-root {
  background-color: #fff;
  margin-bottom: 0;
}

#page-products .MuiOutlinedInput-root .PrivateNotchedOutline-root-61:focus {
  border-color: rgba(0, 0, 0, 0.23);
}

#page-products .comp-drugs-list .items {
  list-style: none;
}

#page-products .comp-drugs-list .items .item {
  padding: 10px 0;
}

#page-products .comp-drugs-list .items .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-products .comp-drugs-list .items .item a img {
  width: 50px;
}

#page-products .comp-drugs-list .items .item a .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

#page-drug .carousel-inner {
  margin-bottom: 10px;
}

#page-drug .carousel-inner .MuiSkeleton-rect {
  margin-right: auto;
  margin-left: auto;
}

#page-drug .carousel-item {
  overflow: hidden;
  -webkit-transition: none !important;
  transition: none !important;
  width: 100%;
  background-color: #fff;
  padding: 15px 0;
}

#page-drug .carousel-item img {
  max-height: 320px;
  margin-left: auto;
  margin-right: auto;
}

#page-drug .carousel-indicators {
  margin-bottom: 5px;
  bottom: -10px;
}

#page-drug .carousel-indicators li {
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  background-color: #ccc;
  border-radius: 50%;
  background: rgba(var(--ba8, 168, 168, 168), 1);
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
}

#page-drug .carousel-indicators li.active {
  background-color: #4d9ad8;
}

#page-drug #name {
  font-size: 1.4rem;
  font-weight: 900;
  padding: 15px 0;
}

#page-drug .real-price {
  font-size: 1.5rem;
  font-weight: 900;
}

#page-drug .currency {
  padding: 0 5px;
}

#page-drug #btn-add-wrapper .btn-purchase {
  margin-top: 15px;
}

#page-drug .comments ul {
  list-style: none;
}

#page-drug .comments ul li {
  padding: 10px 0;
}

.counter-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.counter-comp > * {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.counter-comp .btn-minus,
.counter-comp .btn-plus {
  border: solid 1px #ccc;
  border-radius: 50%;
}

.discount-badg {
  background-color: red;
  color: #fff;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 0.9rem;
  white-space: nowrap;
}

.discount-badg i {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 12px;
}

.comp-categories {
  width: 100%;
  padding: 15px;
}

.comp-categories ul {
  width: 100%;
  list-style: none;
}

.comp-categories ul li {
  padding: 10px 0;
}

#page-basket .empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

#page-basket .empty i {
  margin-bottom: 15px;
  font-size: 80px;
  color: #ccc;
}

#page-basket .basket-wrapper .item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#page-basket .basket-wrapper .item .main-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-basket .basket-wrapper .item .main-info .img-wrapper {
  margin-left: 15px;
  width: 100px;
}

#page-basket .basket-wrapper .item .main-info .img-wrapper img {
  width: 100%;
  border-radius: 8px;
}

#page-basket .basket-wrapper .item .main-info .hx {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#page-basket .basket-wrapper .item .main-info .price {
  font-size: 1.5rem;
  font-weight: 900;
}

#page-basket .basket-wrapper .item .main-info .info {
  padding-left: 15px;
  padding-right: 15px;
}

#page-basket .basket-wrapper .item .extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-basket .basket-wrapper .item .extra-info label {
  font-size: 1.1rem;
}

#page-basket .basket-wrapper .item .end-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#page-basket .basket-wrapper .item .end-col .btn-delete {
  font-size: 20px;
  background-color: snow;
  color: #00346e;
}

@media (max-width: 576px) {
  #page-basket .basket-wrapper .item .img-wrapper {
    width: 60px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#page-basket .total-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: revert;
          flex-direction: revert;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 800;
}

.confirm-modal .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.confirm-modal .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-modal .modal-footer button {
  padding: 8px 30px;
  width: 105px;
}

#page-auth {
  min-height: 80%;
}

#page-auth .MuiTabs-root,
#page-auth .MuiTab-labelIcon {
  min-height: 40px;
}

#page-auth .MuiTab-labelIcon:hover {
  color: #fff;
}

#page-auth .MuiTab-labelIcon .MuiTab-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#page-auth .MuiTab-labelIcon .MuiTab-wrapper i {
  margin-left: 5px;
  margin-bottom: 0;
}

#page-auth #comp-login,
#page-auth #comp-signup,
#page-auth #comp-confirm {
  padding: 30px 15px;
}

#page-auth #mobileNumber,
#page-auth #email,
#page-auth #username,
#page-auth #password,
#page-auth #newPassword,
#page-auth #repeatPassword {
  direction: ltr !important;
  text-align: left !important;
}

#code {
  direction: ltr !important;
  text-align: left !important;
}

.btn-confirm-retry {
  background-color: transparent;
  color: #18346e;
}

.btn-confirm-retry:hover {
  background-color: transparent;
  color: #18346e;
}

#page-select-address {
  margin-bottom: 40px;
}

#page-select-address #address {
  line-height: 20px;
}

#page-select-address .btn-next {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#page-select-address .btn-remove-address i {
  font-size: 20px;
}

#page-select-address .location-selector {
  position: relative;
  width: 100%;
  display: inline-block;
  border: solid 1px rgba(0, 0, 0, 0.23);
}

#page-select-address .location-selector.error {
  border: solid 1px #f44336;
}

#page-select-address .location-selector label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  color: #666;
  margin: 0;
  padding: 0 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-select-address .location-selector label i {
  font-size: 20px;
  border-radius: 4px;
  margin-left: 10px;
}

#page-select-address .location-selector .leaflet-control-container {
  display: none !important;
}

#page-select-address .Mui-error {
  color: #f44336;
  font-size: 0.75rem;
}

.address-list-modal .empty-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.address-list-modal .empty-list i {
  font-size: 50px;
  color: #ccc;
  margin-bottom: 15px;
}

.address-list-modal .btn-select {
  width: 100%;
  padding: 10px;
}

.page-select-location .btn-next {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#page-review .basket-wrapper {
  margin-bottom: 55px;
}

#page-review .basket-wrapper .item {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#page-review .basket-wrapper .item .img-wrapper {
  margin-left: 15px;
  width: 100px;
}

#page-review .basket-wrapper .item .img-wrapper img {
  width: 100%;
  border-radius: 8px;
}

#page-review .basket-wrapper .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-review .basket-wrapper .item .info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#page-review .basket-wrapper .item .info .name .hx {
  font-size: 1.2rem;
}

#page-review .basket-wrapper .item .info .price .val {
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 576px) {
  #page-review .basket-wrapper .item .info.col-12 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #page-review .basket-wrapper .item .info.col-12 .count {
    width: 100px;
  }
}

#page-review .basket-wrapper .total-wrapper {
  margin-top: 30px;
}

#page-review .basket-wrapper .total-wrapper .price {
  padding-top: 15px;
  border-top: dashed 1px green;
  display: inline-block;
  color: green;
}

#page-review .basket-wrapper .total-wrapper .price .val {
  font-size: 1.5rem;
  font-weight: 700;
}

#page-review .btn-next .spinner-border {
  vertical-align: middle;
  margin: 0 10px;
}

.products-changed-modal .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-changed-modal .modal-footer button {
  color: #fff;
  padding: 8px 30px;
  width: 105px;
}

#page-prescription {
  margin-bottom: 40px;
}

#page-prescription .card {
  padding: 30px 15px;
}

#page-prescription #mobileNumber {
  text-align: left;
  direction: ltr;
}

#page-prescription #uploader {
  background-color: transparent;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  border: dashed 2px #ccc;
  width: 100%;
}

#page-prescription #uploader i {
  font-size: 40px;
}

#page-prescription .uploaded-box {
  border: solid 1px #ccc;
  height: 50px;
  width: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7.5px;
  position: relative;
  padding: 3px;
}

#page-prescription .uploaded-box:first-child {
  margin-right: 0;
}

#page-prescription .uploaded-box img {
  max-width: 100%;
  max-height: 100%;
}

#page-prescription .uploaded-box button {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}

#page-prescription .uploaded-box button i {
  font-size: 25px;
}

#page-prescription .uploaded-box:hover button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-after-gateway .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-after-gateway .content .main-message {
  margin: 15px 0 10px 0;
  font-weight: 700;
}

#page-after-gateway .content .success {
  color: green;
}

#page-after-gateway .content .error {
  color: red;
}

#page-after-gateway .content .trace-id-text {
  font-weight: 700;
  margin: 50px 0 10px 0;
}

#page-after-gateway .content .trace-id {
  padding: 8px 10px;
  background-color: #ededed;
}

#page-temp-basket .empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

#page-temp-basket .empty i {
  margin-bottom: 15px;
  font-size: 80px;
  color: #ccc;
}

#page-temp-basket .basket-wrapper .item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 10px 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#page-temp-basket .basket-wrapper .item .main-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-temp-basket .basket-wrapper .item .main-info .img-wrapper {
  margin-left: 15px;
  width: 100px;
}

#page-temp-basket .basket-wrapper .item .main-info .img-wrapper img {
  width: 100%;
  border-radius: 8px;
}

#page-temp-basket .basket-wrapper .item .main-info .hx {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

#page-temp-basket .basket-wrapper .item .main-info .price {
  font-size: 1.5rem;
  font-weight: 900;
}

#page-temp-basket .basket-wrapper .item .main-info .info {
  padding-left: 15px;
  padding-right: 15px;
}

#page-temp-basket .basket-wrapper .item .extra-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#page-temp-basket .basket-wrapper .item .extra-info label {
  font-size: 1.1rem;
}

#page-temp-basket .basket-wrapper .item .end-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#page-temp-basket .basket-wrapper .item .end-col .btn-delete {
  font-size: 20px;
  background-color: snow;
  color: #00346e;
}

@media (max-width: 576px) {
  #page-temp-basket .basket-wrapper .item .img-wrapper {
    width: 60px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#page-temp-basket .total-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: revert;
          flex-direction: revert;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 800;
}

.confirm-modal .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.confirm-modal .modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-modal .modal-footer button {
  padding: 8px 30px;
  width: 105px;
}

.error-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.error-comp i {
  font-size: 40px;
}

.error-comp .text {
  padding: 10px;
}
/*# sourceMappingURL=index.css.map */