@import "./constant.scss";
$marginBottom: 15px;

html {
  min-height: 100%;
  font-size: 12px;
}
body {
  min-height: 100vh;
  background-color: #f3f4f8;
}
* {
  outline: none !important;
}
#root {
  min-height: 100vh;
}
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin-bottom: 0;
  padding: 0;
}
p {
  margin: 0;
}
.m-b {
  margin-bottom: 15px !important;
}
button {
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
input[type="search"]:focus,
input[type="text"]:focus {
  outline: none;
}
a {
  color: #666;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}
ul,
ol {
  padding: 0;
}
button {
  color: #fff;
  background-color: $btnBgColor;
  padding: 7px 10px;
  border-radius: 3px;
  &:hover {
    background-color: $btnHoverColor;
    color: #fff;
  }
}
.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}
.block-align-center {
  margin-left: auto;
  margin-right: auto;
}
.mb-15 {
  margin-bottom: 15px;
}
.icon {
  vertical-align: middle;
  font-size: 20px !important;
}
.ltr-elm {
  direction: ltr;
  text-align: left;
}
.ltr-input {
  input {
    direction: ltr;
    text-align: left;
  }
}
.va-middle {
  vertical-align: middle;
}
/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.ph-c::-webkit-input-placeholder {
  text-align: center;
}

.ph-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.ph-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.ph-c:-ms-input-placeholder {
  text-align: center;
}

.ph-r::-webkit-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}

.ph-r:-ms-input-placeholder {
  text-align: right;
  font-family: "iransans";
  direction: rtl;
}
.toast:not(.show) {
  display: none;
}
.form-group {
  margin-bottom: $marginBottom - 5px;
  text-align: center;
}
.btn-group {
  margin-bottom: $marginBottom;
  width: 100%;
}
.btn-next {
  min-width: 150px;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  background-color: $btnBgColor;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: $btnHoverColor;
    color: #fff;
    text-decoration: none;
  }
}
.comp-heading {
  font-size: 1.3rem;
  padding: 15px 0;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.bordered {
    &:after {
      content: "";
      content: "";
      flex: 1;
      background-color: #00346e;
      height: 3px;
      margin-right: 10px;
    }
  }
}
.slick-list {
  direction: ltr;
}
.padding {
  padding: $padding;
}
.padding-r {
  padding-right: $padding;
}
.padding-l {
  padding-left: $padding;
}
[class^="col-"] {
  display: flex;
}
.page-comp {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*==================================
-- Material UI
====================================*/
.MuiFormLabel-root,
.MuiMenuItem-root {
  font-family: "iransans" !important;
}
.MuiFormControl-root {
  width: 100%;
}
.MuiFormHelperText-contained {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.MuiInputBase-root {
  margin-bottom: 18px;
  &.Mui-error {
    margin-bottom: 0;
  }
}
.MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error{
  height: 15px;
}
.MuiTextField-root {
  .MuiOutlinedInput-input {
    padding: 14px;
  }
  .MuiInputLabel-outlined {
    transform: translate(-14px, 15px) scale(1);
  }
}

@import "./rtl.scss";
@import "./../../shared/layout/css/index.scss";
@import "./../../shared/searchDrug/css/index.scss";
@import "./../../shared/threeDotLoader/css/index.scss";
@import "./../../routes/home/css/index.scss";
@import "./../../shared/initError/css/index.scss";
@import "./../../shared/DrugItem/css/index.scss";
@import "./../../routes/products/css/index.scss";
@import "./../../routes/product/css/index.scss";
@import "./../../shared/counter/css/index.scss";
@import "./../../shared/discountBadg/css/index.scss";
@import "./../../shared/categories/css/index.scss";
@import "./../../routes/basket/css/index.scss";
@import "./../../routes/auth/css/index.scss";
