html {
  min-height: 100%;
  font-size: 12px;
}

body {
  min-height: 100vh;
  background-color: #f3f4f8;
}

#root {
  min-height: 100vh;
}

.MuiFormLabel-root {
  font-family: "iransans" !important;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin-bottom: 0;
  padding: 0;
}

p {
  margin: 0;
}

.m-b {
  margin-bottom: 15px !important;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

ul,
ol {
  padding: 0;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.default-i {
  font-size: 20px;
  vertical-align: middle;
}

.block-align-center {
  margin-left: auto;
  margin-right: auto;
}

.m-b {
  margin-bottom: 15px;
}

.ltr-input input {
  direction: ltr;
  text-align: left;
}

/*-----------------------------------
     remove browser autofill 
------------------------------------*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: none;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*-----------------------------------
              place holder
------------------------------------*/
.ph-c::-webkit-input-placeholder {
  text-align: center;
}

.ph-c:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.ph-c::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.ph-c:-ms-input-placeholder {
  text-align: center;
}

.ph-r::-webkit-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.ph-r:-moz-placeholder {
  /* Firefox 18- */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.ph-r::-moz-placeholder {
  /* Firefox 19+ */
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.ph-r:-ms-input-placeholder {
  text-align: right;
  font-family: iransans;
  direction: rtl;
}

.toast:not(.show) {
  display: none;
}

.form-group {
  margin-bottom: 15px;
  text-align: center;
}

.btn-group {
  margin-bottom: 15px;
  width: 100%;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiFormHelperText-contained {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.btn-next {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #23af66;
  text-align: center;
}

.with-header {
  padding-top: 55px;
}

@font-face {
  font-family: "iransans";
  src: url(../fonts/iransans.eot) format("embedded-opentype"), url(../fonts/iransans.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "iransans";
  direction: rtl;
  text-align: right;
}

.MuiFormHelperText-root, .MuiInputBase-input, .MuiTypography-body2, .MuiTypography-body1 {
  font-family: "iransans" !important;
}

body[dir="rtl"] .modal-title {
  font-size: 1rem;
}

body[dir="rtl"] .modal-header .close {
  margin: -1rem auto -1rem -1rem;
}

.dropdown-toggle::after {
  margin-right: 0.255em;
  margin-left: unset;
  vertical-align: middle;
}

.dropdown-menu {
  text-align: unset;
}

.toast .toast-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toast .toast-header .close {
  margin-left: 0 !important;
  margin-right: 0.5rem !important;
}

#comp-top-header {
  background-color: #00346e;
}

#comp-top-header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
}

#comp-top-header .auth-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#comp-top-header .auth-wrapper > * {
  margin-right: 15px;
}

#comp-top-header .auth-wrapper i {
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}

#comp-top-header .auth-wrapper i:hover {
  color: red;
}

#comp-top-header .log-out {
  background-color: none;
}

#comp-top-header .ripple-loader {
  position: relative;
}

#comp-top-header .ripple-loader:before {
  content: "Loading";
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  margin: 38% 0% 0% 14%;
  color: #fff;
}

#comp-top-header .ripple-loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #0ec198;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-animation: ripple 1.5s ease-out infinite;
  animation: ripple 1.5s ease-out infinite;
}

@-webkit-keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  96% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
  100% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}

#comp-search-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
}

#comp-search-bar .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #0058AF;
}

header ul {
  margin-bottom: 0;
}

header .main-nav .menu-icon {
  padding-left: 7.5px;
  display: none;
  padding: 15px 0;
  margin-bottom: 0;
}

header .main-nav .menu-icon i {
  font-size: 20px;
  vertical-align: middle;
  color: #fff;
}

header .main-nav ul {
  padding: 15px 0;
}

header .main-nav ul li {
  display: inline-block;
}

header .main-nav ul li a {
  padding: 5px 7.5px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

header .main-nav ul li a:hover {
  color: red !important;
}

header .main-nav ul li:hover .sub-menu {
  display: block;
}

header .main-nav ul li.current a {
  color: red;
}

header .main-nav ul .close-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

header .main-nav ul .close-menu i {
  font-size: 20px;
  vertical-align: middle;
}

header .main-nav ul .logo img {
  width: 32px;
}

@media (max-width: 576px) {
  header .main-nav ul .logo {
    display: none;
  }
}

header .main-nav .sub-menu {
  display: none;
  background-color: #34495e;
  min-width: 100px;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
          box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75) !important;
  position: absolute;
  z-index: 999;
}

header .main-nav .sub-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  header .main-nav .menu-icon {
    display: inline-block;
  }
  header .main-nav ul {
    display: none;
    padding-top: 30px;
    -webkit-animation-name: slideInRight;
            animation-name: slideInRight;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #34495e;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
    right: 0;
  }
  header .main-nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .main-nav ul .close-menu {
    display: block;
  }
  header .main-nav [name=toggle]:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .contact {
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .contact a {
  color: #fff;
}

header .contact a:last-child {
  margin-right: 30px;
}

header .contact a i {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 20px;
}

html[dir=ltr] .main-nav ul {
  -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft;
}

html[dir=ltr] .main-nav ul .menu-icon {
  padding-right: 7.5px;
  padding-right: 0;
}

html[dir=ltr] .main-nav ul .close-menu {
  right: auto;
  right: 10px;
}

@media (max-wdith: 576ps) {
  html[dir=ltr] .main-nav ul {
    -webkit-box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0 0 -2px rgba(0, 0, 0, 0.75);
  }
}

#comp-search-drug {
  width: 100%;
  background-color: #fff;
}

#comp-search-drug .input-group i {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#comp-search-drug .input-group input {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  padding: 10px 40px 10px 30px;
}

#comp-search-drug .comp-three-dot-loader {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes three-dot-loader-anime {
  100%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes three-dot-loader-anime {
  100%,
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.dot {
  background-color: black;
}

.comp-three-dot-loader .dot {
  width: 3px !important;
  height: 3px !important;
  margin-left: 1px;
  margin-right: 1px;
  display: inline-block !important;
  border-radius: 200px !important;
  -webkit-animation-name: three-dot-loader-anime !important;
  animation-name: three-dot-loader-anime !important;
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  -webkit-animation-timing-function: ease-in-out !important;
  animation-timing-function: ease-in-out !important;
  -webkit-animation-iteration-count: infinite !important;
  animation-iteration-count: infinite !important;
}

.comp-three-dot-loader .dot:nth-child(1) {
  -webkit-animation-delay: 0s !important;
  animation-delay: 0s !important;
}

.comp-three-dot-loader .dot:nth-child(2) {
  -webkit-animation-delay: -0.25s !important;
  animation-delay: -0.25s !important;
}

.comp-three-dot-loader .dot:nth-child(3) {
  -webkit-animation-delay: -0.5s !important;
  animation-delay: -0.5s !important;
}
/*# sourceMappingURL=index.css.map */