#page-auth {
    min-height: 80%;
    .MuiTabs-root,
    .MuiTab-labelIcon {
        min-height: 40px;
    }
    .MuiTab-labelIcon {
        &:hover {
            color: #fff;
        }
        .MuiTab-wrapper {
            flex-direction: row;
            i {
                margin-left: 5px;
                margin-bottom: 0;
            }
        }
    }

    #comp-login,
    #comp-signup,
    #comp-confirm {
        padding: 30px 15px;
    }
    #mobileNumber,
    #email,
    #username,
    #password,
    #newPassword,
    #repeatPassword {
        direction: ltr !important;
        text-align: left !important;
    }
}
#code {
    direction: ltr !important;
    text-align: left !important;
}
.btn-confirm-retry {
    background-color: transparent;
    color: #18346e;

    &:hover {
        background-color: transparent;
        color: #18346e;
    }
}
